@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic:700|Righteous|Signika&display=swap');

/* 
font-family: 'Gentium Book Basic', serif;
font-family: 'Righteous', cursive;
font-family: 'Signika', sans-serif;
#a4977b  dorado
#121f24  magenta oscuro
#103f45 magenta medio
#3c777f aguamarina
#fdfaf5 blanco


*/
/*-------------------------generalidades ------------------------*/
*{
    box-sizing: border-box;
    font-family: 'Signika', sans-serif, Arial, Helvetica;
    padding: 0;
    margin: 0;
    font-weight: lighter;
    font-size: 1.5vh;
    color: #fdfaf5;
    overflow: hidden;

}
body{
    background-color: #3c777f;
    background-image: linear-gradient(#103f45,#121f24), url(images/photo-of-grass-field-1227513.jpg);
    background-blend-mode: soft-light;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    top: -96vh;

}
.animation{
    position: relative;
    top: -96vh;
    animation-name: credits;
    animation-fill-mode: forwards;
    animation-duration: 1s;

}
.animation2{
    position: relative;
    top: -96vh;
    animation-name: credits2;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-direction: reverse;

}

@keyframes credits{
    
    0%{
    top: -96vh;
    }

    100%{
        top: 5vw;
    }
}

@keyframes credits2{
    
    0%{
    top: -96vh;
    }

    100%{
        top: 5vw;
    }
}



/*------------------------- cabecera ------------------------*/
.bInfo{
    height: 6vh;
    width: 8vh;
    margin: 0 0 5px;
    background-color: #3c777f;
    font-size: 1em;
    box-shadow: none;
    border-radius: 0 0 500% 500%;
    border: none;
    position: fixed;
    left: .2vh;
    top: 0px;
    box-shadow: 5px 6px 5px #121f2455;
    
}

.info{
    height: 6vh;
    width: 8vh;
    margin: 0 0 5px;
    background-color: #3c777f;
    font-size: 1em;
    box-shadow: none;
    border-radius: 0 0 500% 500%;
    border: none;
    position: fixed;
    left: .2vh;
    box-shadow: 5px 6px 5px #121f2455;
    animation-name: infoup;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: ease;
    
}

@keyframes infoup {
    0%{
        top: 94vh;
        }

        20%{
            border-radius: 20%;
            background-color: #fdfaf522 ;
        }   
        30%{
            border-radius: 30%;
            background-color: #fdfaf522 ;
        }
        50%{
            border-radius: 50%;
            background-color: #fdfaf522 
        }
        80%{
            border-radius: 50%;
            background-color: #fdfaf522 
        }
    
        100%{
        top: 0vw;
        }
}


.info2{
        height: 11vh;
        width: 8vh;
        margin: 0 0 0px;
        background-color: #3c777f;
        padding-bottom: 30px;
        font-size: 1em;
        box-shadow: none;
        border-radius: 40% 40% 0 0;
        border: none;
        position: fixed;
        left: .2vh;
        bottom: 0vh;
        box-shadow: 5px 6px 5px #121f2455;
        animation-name: infodown;
        animation-fill-mode: forwards;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        
    }

@keyframes infodown{
    
        0%{
        top: 0vh;
        }
        20%{
            border-radius: 20%;
            background-color: #fdfaf522 ;
        }   
        30%{
            border-radius: 30%;
            background-color: #fdfaf522 ;
        }
        50%{
            border-radius: 50%;
            background-color: #fdfaf522 
        }
        80%{
            border-radius: 50%;
            background-color: #fdfaf522 
        }
    
        100%{
        top: 90vh;
        }
    }
    




button span{
    padding: 0;
    border: solid;
    border-radius: 50%;
    margin: 0;
    font-size: 2em;

}
    


header{
    text-align: center;
    box-shadow: 5px 6px 5px #121f24;
}
h1 {
    margin: 0 0 0 0;
    background-color: #a4977b;
    font-family: 'Righteous', cursive;
    color: #fdfaf5;
    padding: 5px;
    font-size: 4em;
    text-shadow: 2px 2px 5px #121f24dd;
}

/*------------------------- recuadro central ------------------------*/


section {
background-color: #3c777f55;
border: solid #fdfaf566;
border-radius: 10px;
width: 95%;
/*min-height: 420px;
height: 80vh;*/
margin: 5vh auto;
padding: 1em 1.5em;
text-align: center;
box-shadow: 5px 6px 5px #121f2499;
overflow: hidden;

}
/*-----------------------letras-------------------*/
span{
display: block;
font-size: 2.3em;
padding: .4em;
text-shadow: 2px 2px 5px #121f24dd;
}

/*----------------inputs--------------------------------*/
.blankSpace {
    border: solid #103f45dd;
    border-radius: 30px;
    padding: .9em;
    width: 80%;
    height: 8vh;
    color: #103f45dd;
    font-family: 'Gentium Book Basic', serif;
    font-weight: bolder;
    font-size: 1.5em;
    padding-left: 4em;
    color: #3c777f;
    box-shadow: 5px 6px 5px #121f24;    
    
}

.blankSpace option{
    color: #3c777f;
    font-family: 'Gentium Book Basic', serif;
    font-weight: bolder;
    font-size: 1em;

    
}

::placeholder {

    color: #3c777f;
    position: relative;
    top: 2px;
}

.icon{
    background-color: #3c777faa;
    border: solid #103f45;
    border-right: none;
    border-radius: 30px 0 0 30px;
    height: 8vh;
    position: absolute;
    width: 8vh;
    max-width: 60px;
    padding: 9px;
    
}


/*----------------boton--------------------------------*/

button{
background-color: #3c777f;
border: solid #103f45dd;
border-radius: 50px;
padding: .5em 1em;
margin: 1em;
font-family: 'Righteous';
font-size: 3em;
text-shadow: 2px 2px 5px #121f24dd;
box-shadow: 5px 6px 5px #121f24;

}

/*------------------------- respuesta ------------------*/

.response {

font-size: 4.2em;
}

.responseL {

    font-size: 3 em;

}


#Vdinero {
    font-family: 'Righteous', cursive;
    padding: 1vh;
}

/*------------------------- creditos ------------------*/
.divCreditos{
margin: 0 auto;
margin-bottom: 10vh;
background-color: #3c777f55;
border: solid #fdfaf566;
border-radius: 10px;
width: 95%;
height: 90vh;
box-shadow: 5px 6px 5px #121f2499;
padding: 20px;
display: flex;
flex-direction: column;
justify-content: center;

}

.divCreditos h2{
    font-size: 4em;
    font-family:'Righteous', cursive;
    text-shadow: 2px 2px 5px #121f24dd;
    
}
.credits{
font-size: 3em;
}


.divCreditos h3{
    font-size: 2em;
    font-family:'Righteous', cursive;
    text-shadow: 2px 2px 5px #121f24dd;
}
.Acredits {
    font-size: 1.5em;
}
.Acredits span{

    font-size: .8em;
}

